@model IEnumerable<CMM.Projects.Apresentation.Models.FuncaoVinculoModelView>
<table class="table table-sm table-responsive-lg dataTable" cellspacing="0" width="100%" id="grdFuncao">
    <thead class="text-center">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.VNC_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNC_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNCVNC_DATAINICIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNCVNC_DATAFIM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNCVNC_NUMPORTARIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FNCVNC_DATAPORTARIA)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
  
</table>


