@model CMM.Projects.Apresentation.Areas.SASS.Models.FuncionarioCartaoSaudeModelView
@using CMM.Projects.Apresentation.Utils

@{
    /**/

    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Cartão Saúde Servidor</title>
    <!-- animate CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @*Inseridos Ícones de "Alegria ou Não", para os índices de saúde do relatório em 11/04/2023*@
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">

</head>
<body style="background-color:white;font-size: medium;">




    <div class="header text-center">
        <img src="~/Imagem/cabecalho.png" style="width:90%; height:100px;align-items:center" />

        <h1 style="font-weight:bold" id="txtheader">
            Cartão Saúde Servidor
        </h1>

    </div>

    <div class="container">
        <div class="row mt form-group">
            <div class="col-xs-3">

                <h6>@Html.LabelFor(model => model.FUN_MATRICULA)</h6>
                @Html.DisplayFor(model => model.FUN_MATRICULA)

            </div>

            <div class="col-xs-5">
                <h6>
                    @Html.LabelFor(model => model.FUN_NOME, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.FUN_NOME, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="col-xs-3">
                <h6>
                    @Html.LabelFor(model => model.FUN_SEXO, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.SEXO, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="col-xs-1">
                <h6>
                    @Html.LabelFor(model => model.FUN_TIPOSANGUINEO, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.TIPAGEM, new { htmlAttributes = new { @class = "form-control" } })

            </div>

        </div>
        <div class="row mt form-group">
            <div class="col-xs-3">
                <h6>
                    @Html.LabelFor(model => model.FUN_BAIRRO, htmlAttributes: new { @class = "control-label" })

                </h6>
                @Html.DisplayFor(model => model.FUN_BAIRRO, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="col-xs-8">
                <h6>
                    @Html.LabelFor(model => model.FUN_ENDERECO, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.FUN_ENDERECO, new { htmlAttributes = new { @class = "form-control" } })


            </div>

            <div class="col-xs-1">
                <h6>
                    @Html.LabelFor(model => model.FUN_NUMEROEND, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.FUN_NUMEROEND)


            </div>


        </div>
        <div class="row mt form-group">

            <div class="col-xs-12">
                <h6>
                    @Html.LabelFor(model => model.FUN_COMPLEMENTO, htmlAttributes: new { @class = "control-label" })
                </h6>
                @Html.DisplayFor(model => model.FUN_COMPLEMENTO, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <hr />
        @foreach (var item in (List<CMM.Projects.Apresentation.Areas.SASS.Models.ConsultaModelView>)TempData["List"])
        {

            <div class="row mt ">
                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_DATA)</h6>
                    @item.CON_DATA.Value.ToShortDateString()

                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_FUMA)</h6>
                    @item.CON_FUMA.Value.Descricao()

                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_ETILISMO)</h6>
                    @item.CON_ETILISMO.Value.Descricao()

                </div>
                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_SEDENTARISMO)    </h6>
                    @item.CON_SEDENTARISMO.Value.Descricao()

                </div>


                <div class="col-xs-2">


                    <h6>@Html.LabelFor(model => item.CON_HIPERTENSO)</h6>
                    @item.CON_HIPERTENSO.Value.Descricao()

                </div>
                <div class="col-xs-1">


                    <h6>@Html.LabelFor(model => item.CON_DIABETICO)</h6>
                    @item.CON_DIABETICO.Value.Descricao()

                </div>

                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_ALTURA)</h6>
                    @Html.DisplayFor(model => item.CON_ALTURA)
                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_PESO)</h6>
                    @Html.DisplayFor(model => item.CON_PESO)
                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_IMC)</h6>
                    @Html.DisplayFor(model => item.CON_IMC.Value)
                </div>

            </div>
            <div class="row mt">
                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_PRESSAOARTERIALMAX)</h6>
                    @Html.DisplayFor(model => item.CON_PRESSAOARTERIALMAX)

                    @*Inseridos Ícones de "Alegria ou Não", para os índices de saúde do relatório em 11/04/2023*@
                    @*Mesmo padrão para os demais índices!*@

                    @if (item.CON_PRESSAOARTERIALMAX != null)
                    {
                        if (item.CON_PRESSAOARTERIALMAX.Value >= 140)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success "></span></b>
                        }
                    }
                </div>
                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_PRESSAOARTERIALMIN)</h6>
                    @Html.DisplayFor(model => item.CON_PRESSAOARTERIALMIN)

                    @if (item.CON_PRESSAOARTERIALMIN != null)
                    {
                        if (item.CON_PRESSAOARTERIALMIN.Value >= 90)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success "></span></b>
                        }
                    }

                </div>

                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_GLICEMIA)</h6>
                    @Html.DisplayFor(model => item.CON_GLICEMIA)

                    @if (item.CON_GLICEMIA != null)
                    {
                        if (item.CON_GLICEMIA.Value > 100)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success"></span></b>
                        }
                    }

                </div>

                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_COLESTEROLTOTAL)</h6>
                    @Html.DisplayFor(model => item.CON_COLESTEROLTOTAL)

                    @if (item.CON_COLESTEROLTOTAL != null)
                    {
                        if (item.CON_COLESTEROLTOTAL.Value >= 200)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success "></span></b>
                        }
                    }

                </div>
                <div class="col-xs-2">

                    <h6>@Html.LabelFor(model => item.CON_TRIGLICERIDEOS)</h6>
                    @Html.DisplayFor(model => item.CON_TRIGLICERIDEOS)
                    @if (item.CON_TRIGLICERIDEOS != null)
                    {
                        if (item.CON_TRIGLICERIDEOS.Value >= 150)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success "></span></b>
                        }
                    }

                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_HDL)</h6>
                    @Html.DisplayFor(model => item.CON_HDL)

                    @if (item.CON_HDL != null)
                    {
                        if ((Model.FUN_SEXO == "M" && item.CON_HDL >= 60) || (Model.FUN_SEXO == "F" && item.CON_HDL >= 60))
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                    }

                </div>

                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_LDL)</h6>
                    @Html.DisplayFor(model => item.CON_LDL)

                    @if (item.CON_LDL != null)
                    {
                        if (item.CON_LDL.Value >= 130)
                        {
                            <b><span class="fa fa-lg fa-frown-o text-danger"></span></b>
                        }
                        else
                        {
                            <b><span class="fa fa-lg fa-smile-o text-success "></span></b>
                        }
                    }

                </div>
                <div class="col-xs-1">

                    <h6>@Html.LabelFor(model => item.CON_ANTIHBS)</h6>
                    @Html.DisplayFor(model => item.AntiHBS)
                </div>


            </div>
            <hr />
        }

        @*Retirado Script dos gráficos*@

        <br />
        <div class="row mt text-center">

            <div class="col-xs-6">
                <img src="~/Imagem/SASS/cartaosaudeOrientacao.png" style="width:100%; height:220px;align-content:flex-start" />
            </div>
            <div class="col-xs-6">
                <img src="~/Imagem/SASS/SaudeIntegral.png" style="width:50%; height:220px;align-items:flex-end" />
            </div>
        </div>
    </div>
</body>
</html>
