@model CMM.Projects.Apresentation.Models.FeriasModelView

<div class="modal-header">
    <h3 class="modal-title"><span class="fa fa-edit"></span> @ViewBag.Title</h3>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

</div>
<div class="modal-body">
    @using (Html.BeginForm("AddUpdateFerias", "Ferias", FormMethod.Post, new { id = "formCrud" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FRS_ID)

    <div class="form-horizontal">

        <div class="row">
            <div class="form-group col-md-12">
                @Html.Label("VÍNCULO", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.VNC_ID, null, "Selecione", htmlAttributes: new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(model => model.VNC_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_DATA_INICIOAQUISITIVO, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_DATA_INICIOAQUISITIVO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATA_INICIOAQUISITIVO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_DATA_FIMAQUISITIVO, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_DATA_FIMAQUISITIVO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATA_FIMAQUISITIVO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_DATA_INICIOGOZO, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FRS_DATA_INICIOGOZO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATA_INICIOGOZO, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_DATA_FIMGOZO, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FRS_DATA_FIMGOZO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATA_FIMGOZO, "", new { @class = "text-danger" })
            </div>

          


        </div>
        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.FRS_DATA_RETORNO, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_DATA_RETORNO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATA_RETORNO, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_NUMPORTARIA, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_NUMPORTARIA, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_NUMPORTARIA, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FRS_DATAPORTARIA, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_DATAPORTARIA, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_DATAPORTARIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-lg-12">
                @Html.LabelFor(model => model.FRS_OBSERVACAO, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.FRS_OBSERVACAO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.FRS_OBSERVACAO, "", new { @class = "text-danger" })
            </div>

          
        </div>

    </div>
        }

    </div>


<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
    <input type="button" value="Salvar" class="btn btn-secondary" />
</div>


@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ccm.projects/EnviaFormCad.js"></script>
