@model IEnumerable<CMM.Projects.Apresentation.Models.JustificativaPontoModelView>


    <table class="table table-sm display responsive dataTable" cellspacing="0" width="100%" id="grdJustificativa">
        <thead class="text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MTVJUS_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CID_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JUSPT_DATAINICIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JUSPT_DATAFIM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JUSPT_DATARECEBIMENTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VNC_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JUSPT_OBSERVACAO)
                </th>
                <th>Ações</th>
            </tr>

        </thead>
    </table>
