@model CMM.Projects.Apresentation.Models.JustificativaPontoModelView


<div class="modal-header">
    <h3 class="modal-title"><span class="fa fa-edit"></span> @ViewBag.Title</h3>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

</div>
@using (Html.BeginForm("AddUpdateJusFun", "Justificativa", FormMethod.Post, new { id = "formJust" }))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.JUSPT_ID)
            @Html.HiddenFor(model => model.FUN_ID)
            @Html.HiddenFor(model => model.JUSPT_DATARECEBIMENTO)

            <div class="row">
                <div class="form-group col-md-9 col-sm-9 col-lg-9 col-xs-9">

                    @Html.LabelFor(model => model.VNC_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.VNC_ID, null, "Selecione", htmlAttributes: new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.VNC_ID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3 col-sm-3 col-lg-3 col-xs-3">
                    @Html.LabelFor(model => model.JUSPT_DATARECEBIMENTO, htmlAttributes: new { @class = "control-label" })<br />
                    @if (Model.JUSPT_DATARECEBIMENTO.HasValue)
                    {
                        @Model.JUSPT_DATARECEBIMENTO.Value.ToString("dd/MM/yyyy")
                    }
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-12" id="divmtv">

                    @Html.LabelFor(model => model.MTVJUS_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.MTVJUS_ID, (SelectList)ViewBag.MTVJUS, "Selecione", htmlAttributes: new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.MTVJUS_ID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-6" id="divcid" style="display:none">
                    @Html.LabelFor(model => model.CID_ID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CID_ID, (SelectList)ViewBag.CIDJUS_ID, "Selecione", htmlAttributes: new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.CID_ID, "", new { @class = "text-danger" })
                </div>

            </div>


            <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-6">

                    @Html.LabelFor(model => model.JUSPT_DATAINICIO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.JUSPT_DATAINICIO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.JUSPT_DATAINICIO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    @Html.LabelFor(model => model.JUSPT_DATAFIM, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.JUSPT_DATAFIM, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.JUSPT_DATAFIM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-12" id="divmtv">
                    @Html.LabelFor(model => model.JUSPT_OBSERVACAO, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.JUSPT_OBSERVACAO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                    @Html.ValidationMessageFor(model => model.JUSPT_OBSERVACAO, "", new { @class = "text-danger" })
                </div>
            </div>






        </div>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
        <input type="submit" value="Salvar" class="btn btn-secondary" />
    </div>
}


@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ccm.projects/Cadastro_Just.js"></script>
<script type="text/javascript">

    function atualizarGrid() {
        dataTableJustificativa.ajax.reload();
        $('#minhaModal').modal('hide');
    };



    $(document).ready(function () {
        if ($('#MTVJUS_ID').val() == '6') {
            $('#divmtv').removeClass('col-md-12 col-sm-12 col-lg-12 col-xs-12');
            $('#divmtv').addClass('col-md-6 col-sm-6 col-lg-6 col-xs-6');
            $("#divcid").show();
        };

        $('#MTVJUS_ID').on('change', function () {
            if (this.value == '6') {
                $('#divmtv').removeClass('col-md-12 col-sm-12 col-lg-12 col-xs-12');
                $('#divmtv').addClass('col-md-6 col-sm-6 col-lg-6 col-xs-6');
                $("#divcid").show();


            }
            else {
                $("#CIDJUS_ID").val('');
                $('#divmtv').removeClass('col-md-6 col-sm-6 col-lg-6 col-xs-6');
                $('#divmtv').addClass('col-md-12 col-sm-12 col-lg-12 col-xs-12');
                $("#divcid").hide();

            }
        });


    });
</script>
