@model CMM.Projects.Apresentation.Models.JustificativaPontoModelView

<div class="modal-header">
    <h4>Você tem certeza que deseja excluir este registro?</h4>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>

<div class="row">

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VNC_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VNC_NOME)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MTVJUS_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MTVJUS_NOME)
            </dd>
            @if (Model.CID_ID != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.CID_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CID_NOME)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.JUSPT_DATARECEBIMENTO)
            </dt>

            <dd>
                @if (Model.JUSPT_DATARECEBIMENTO.HasValue)
                {
                    @Model.JUSPT_DATARECEBIMENTO.Value.ToString("dd/MM/yyyy");
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JUSPT_DATAINICIO)
            </dt>

            <dd>

                @if (Model.JUSPT_DATAINICIO.HasValue)
                {
                    @Model.JUSPT_DATAINICIO.Value.ToString("dd/MM/yyyy");
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JUSPT_DATAFIM)
            </dt>

            <dd>
                @if (Model.JUSPT_DATAFIM.HasValue)
                {
                    @Model.JUSPT_DATAFIM.Value.ToString("dd/MM/yyyy");
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JUSPT_OBSERVACAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JUSPT_OBSERVACAO)
            </dd>



        </dl>

        @using (Html.BeginForm("Delete", "Justificativa", FormMethod.Post, new { id = "formJust" }))
        {
            @Html.AntiForgeryToken()


            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
                <input type="submit" value="Excluir" class="btn btn-outline-danger" />
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ccm.projects/Cadastro_Just.js"></script>
<script type="text/javascript">

    function atualizarGrid() {
        dataTableJustificativa.ajax.reload();
        $('#minhaModal').modal('hide');
    };

</script>