@model CMM.Projects.Apresentation.Models.UnidadeCartaoPontoModelView
@{ ViewData["TituloPagina"] = "Cartão Ponto Unidades Plantão";}
<div class="row m-b-15">
    <div class="col-sm-12">
        <div class="card m-b-20">
            <div class="card-body">

                @using (Html.BeginForm("GerarCartaoPontoUnidadePlantao", "CartaoPonto", FormMethod.Post, new { @autocomplete = "off", id = "formRelPonto", @target = "_blank" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.UND_ID, htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownListFor(model => model.UND_ID, (SelectList)ViewBag.Unidade, htmlAttributes: new { @class = "form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.UND_ID, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group col-md-2">
                            @Html.LabelFor(model => model.PERIODO, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.PERIODO, new { htmlAttributes = new { @class = "form-control form-control-sm monthpicker", Value = DateTime.Today.AddMonths(-1).ToString("yyyy/MM") } })
                            @Html.ValidationMessageFor(model => model.PERIODO, "", new { @class = "text-danger" })

                        </div>


                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioArquivo" id="tela" value="T" checked>
                        <label class="form-check-label" for="tela">Exibir na Tela</label>
                    </div>
                    <hr />
                    <div class="float-sm-right">
                        <button type="submit" id="enviar" class="btn btn-gradient-scooter waves-effect waves-light sm-1"><i class="fa fa-check-square-o"></i> Gerar Relatório</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<link href="~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
@section Scripts {
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

                $(".monthpicker").datepicker({
                    autoclose: true,
                    language: "pt-BR",
                    format: "yyyy/mm",
                    viewMode: "months",
                    minViewMode: "months",
                    endDate: 'm'
                });
        });






        $('#formRelPonto').submit(function (e) {
            console.log($("#arquivo").prop("checked"));
            if ($("#arquivo").prop("checked"))
        {
                e.preventDefault();
                var model = $('#formRelPonto').serialize();
                swal({
                    buttons: false,
                    text: "Processando...",
                    icon: "../Imagem/loading.gif",
                    closeOnClickOutside: false,
                    closeOnEsc: false
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GerarCartaoPontoUnidade", "CartaoPonto")',
                    data: model,
                    success: function (data) {
                        console.log(data);

                        if (data.resultado)
                        {
                            swal({
                                title: "Bom trabalho!",
                                text: data.msg,
                                html: true,
                                icon: "success",
                                animate: true,
                                closeOnClickOutside: false,

                            });

                        }else
                        {
                            swal({
                                title: "Ops...",
                                text: data.msg,
                                icon: "error",
                                animate: true,
                                closeOnClickOutside: false,

                            });
                        }


                    },
                    error: function () {
                        swal({
                            title: "Ops...",
                            text: "Erro na tentativa de gerar o relatorio",
                            icon: "error",
                            animate: true,
                        });                    }
                });
            }
        });


    </script>
}
