@model CMM.Projects.Apresentation.Models.ReferenciaFuncaoModelView



<div class="modal-header">
    <h3 class="modal-title"><span class="fa fa-edit"></span> @ViewBag.Title</h3>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

</div>

<div class="modal-body">
    @using (Html.BeginForm("AddUpdateRef", "ReferenciaFuncao", FormMethod.Post, new { id = "formCrud" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.REFFNC_ID)

        <div class="row">
            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                @Html.LabelFor(model => model.REFFNC_NOME, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.REFFNC_NOME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.REFFNC_NOME, "", new { @class = "text-danger" })
            </div>


            <div class="form-group col-md-6 col-lg-6 col-xl-6">
                @Html.LabelFor(model => model.REFFNC_VALOR, htmlAttributes: new { @class = "control-label" })
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    @Html.EditorFor(model => model.REFFNC_VALOR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(model => model.REFFNC_VALOR, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-12 col-lg-12 col-xl-12">
                @Html.LabelFor(model => model.REFFNC_OBSERVACAO, htmlAttributes: new { @class = "control-label" })

                @Html.TextAreaFor(model => model.REFFNC_OBSERVACAO, htmlAttributes: new { @class = "form-control form-control-sm", @rows = "4" })
                @Html.ValidationMessageFor(model => model.REFFNC_OBSERVACAO, "", new { @class = "text-danger" })

            </div>
        </div>




    }
</div>

<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
    <input type="button" value="Salvar" class="btn btn-secondary" />
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ccm.projects/CustomValidacoes.js"></script>
<script src="~/Scripts/ccm.projects/EnviaForm.js"></script>
