@model CMM.Projects.Apresentation.Models.ReferenciaFuncaoModelView
<div class="modal-header">
    <h4>Você tem certeza que deseja excluir este registro?</h4>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
</div>


    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.REFFNC_NOME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REFFNC_NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REFFNC_VALOR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REFFNC_VALOR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REFFNC_OBSERVACAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REFFNC_OBSERVACAO)
            </dd>

        </dl>


    </div>
    @using (Html.BeginForm("Delete", "ReferenciaFuncao", FormMethod.Post, new { id = "formCrud" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer">
            <a data-dismiss="modal" class="btn btn-sm btn-outline-secondary">Voltar</a>
            <input type="button" value="Excluir" class="btn btn-outline-danger" />
        </div>
    }




<script src="~/Scripts/ccm.projects/EnviaForm.js"></script>
@Scripts.Render("~/bundles/jqueryval")
